{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "./src",
        "paths":{
            "#core/*": [
                "./@core/*"
            ],
            "#category/*": [
              "./category/*"
            ]
        }
    }
}